/* css da tela de cadastro */

.inputCadastro{
    width: 80%;
    padding: 10px 15px;
    margin: 8px 0;
    border: 1px solid green;
    border-radius: 10px;
    background-color: rgb(196, 196, 196);
    border-width: 1.8px;
     
}


.botaoCadastro{
    width: 60%;
    background-color: #4CAF50;
    color: white;
    padding: 10px 9px;
    margin: 8px 0;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.botaoCadastro:hover {
    background-color: #45a049;
    opacity: 0.6;
    transition: 0.4s;
    display: inline-block;
    text-decoration: none;
}

.formCadastro{
    border-radius: 5px;
    padding: 20px;
    width: 310px;
    margin: 0 auto;
    height: 350px;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(59, 252, 0, 0.19);
}

.h2Cadastro{
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.divCadastro{
    background-color: rgb(55, 55, 55);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

/* css cadastro acima */

/* css da pagina de listar usuario */

table {
    border-collapse: collapse;
    width: 80%;
  }
  
th {
    border: 1px solid #ffffff;
    padding: 13px;
    background-color: #383838;
    color: white;
}

td {
    border: 1px solid #ffffff;
    padding: 13px;
    background-color: #666666;
    color: white;
}

.divList{
    background-color: rgb(55, 55, 55);
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.h2List{
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;   
}

.botaoLista{
    width: 60%;
    background-color: #4ca3af;
    color: white;
    padding: 1px 14px;
    margin: 9px 1;
    border: none;
    border-radius: 13px;
    cursor: pointer;
}

.botaoLista:hover {
    background-color: #32a1b0;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
}

.divUpdate{
    background-color: rgb(55, 55, 55);
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.h2Update{
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;   
}